
.logo-title {
    font-size: 4.6rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
}
.logo-content {
    font-size: 15px;
    color: #ccc;;
    text-align: center;
    line-height: 1rem;
}